CORS_ORIGIN=http://localhost:5173

# Connect to Supabase via connection pooling
DATABASE_URL=
# Direct connection to the database. Used for migrations
DIRECT_URL=

KURIER_URL=https://api-testnet.kurier.xyz/api/v1
KURIER_API=

SIGNING_PRIVATE_KEY=